/* 
    Document   : style
    Created on : 5 Jun, 2012, 7:07:37 PM
    Author     : EH 18
    Description:
    Purpose of the stylesheet follows.
*/


body {
    color: #333333;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 13px;
    font-weight: normal;
    line-height: 20px;
    font-family:Verdana, Geneva, sans-serif;

}

html, body {
    background-color: #FFFFFF;
    margin: 0;
}


article, aside, details, figcaption, figure, footer, header, hgroup, nav, section {
    display: block;
}

.container:after {
    clear: both;
}

.container:before, .container:after {
    content: "";
    display: table;
}

.container:before, .container:after {
    content: "";
    display: table;
}

.container {
    margin-left: auto;
    margin-right: auto;
    width: 960px !important;
}

.row:after {
    clear: both;
}

.row:before, .row:after {
    content: "";
    display: table;
}

.row:before, .row:after {
    content: "";
    display: table;
}

.row {
    margin-left: -20px;
}

footer #footer-floor {
    background: none repeat scroll 0 0 #1B1B1B;
}



footer #footer-floor h3, footer #footer-floor h4 {
    color: #FFFFFF;
}

h1, h2, h3 {
    line-height: 35px;
}

h3 {
    font-size: 18px;
}

h3, h4, h5, h6 {
    line-height: 40px;
}

h1, h2, h3, h4, h5, h6 {
    color: #333333;
    font-weight: bold;
}


p, ul, ol, dl {
    font-family: "Droid Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
}

p {
    font-size: 13px;
    font-weight: normal;
    line-height: 20px;
    margin-bottom: 10px;
}
.ar {
    text-align: right;
}

footer {
    background: none repeat scroll 0 0 #252525;
    border-top: 0 none;
    border-top: 1px solid #EEEEEE;
    margin-top: 19px;
    padding-top: 19px;
}

footer p {
    color: #999999;
}

footer #footer-floor #elsewhere-msg {
    padding-top: 18px;
}


footer .span10 {
    width: 580px;
}
footer .span6 {
    width: 340px;
}
footer .span4 {
    width: 220px;
}
footer .span3 {
    width: 160px;
}

footer  [class*="span"] {
    display: inline;
    float: left;
    margin-left: 0px;
}
footer #footer-floor #elsewhere-icons {
    padding-top: 13px;
}
footer h4 {
    color: #999999;
}

footer a {
    color: #FFFFFF;
}

a {
    color: #008EE8;
    font-weight: inherit;
    line-height: inherit;
    text-decoration: none;
}

ul.unstyled {
    list-style: none outside none;
    margin-left: 0;
}

footer form {
    margin-bottom: 20px;
}

footer form .clearfix:after {
    clear: both;
}

form .clearfix:before, form .clearfix:after {
    content: "";
    display: table;
}

footer form .clearfix:before, form .clearfix:after {
    content: "";
    display: table;
}

footer form .clearfix {
    margin-bottom: 20px;
}

footer input.span4, textarea.span4, select.span4 {
    display: inline-block;
    float: none;
    margin-left: 0;

}

footer .row {
    margin-left: 0;
}

.navbar-fixed-top, .navbar-fixed-bottom {
    position :inherit;
    margin-bottom: 20px;
}    
.navbar-inner {
    min-height: 96px;
}

.navbar .nav .active > a, .navbar .nav .active > a:hover {
    background-color: #222222;
    color: #FFFFFF;
    font-weight: bold;
    text-decoration: none;
}
/************************************************
* Sliding Banner *
************************************************/
#fW_Content {
    DISPLAY: inline; FLOAT: left; MARGIN: 0px 0px; OVERFLOW: hidden; WIDTH:960px; HEIGHT: 320px;
}
#fW_Controls {
    MARGIN: 0px 0px 0px 0px;
    position:absolute;
    left: 274px;
    top: 410px;
    z-index:1000;
}
#fW_Controls A {
    FLOAT: left; display:block; WIDTH:12px; HEIGHT:12px; margin-left:8px; background:url(images/num.png) no-repeat; text-indent:-10000px;
}
#fW_Controls A.activeSlide {
    background:url(images/num-act.png) no-repeat;
}
#fW_Controls A:hover {
    background:url(images/num-act.png) no-repeat;
}

#main-content .row .span4 {
    width: 30%;
    margin-top :10px;
}
.about-us p {
    font-size:16px;
    line-height: 24px;
}
.about-us h1 {
    margin-bottom: 20px;

}    

.container .brand {
    font-size: 36px;
    color:#ffffff;
    font-weight: bold;
}



.navbar .nav {
    display: inline;
    float: right;
    font-size: 18px;
    margin: 0 0 0 0;
    position: relative;
    top: 51px;
}
.ui-corner-all, .ui-corner-top, .ui-corner-left, .ui-corner-tl { 
    border-top-left-radius : 0px !important;
    border-top-right-radius: 0px !important;
    border-bottom-left-radius: 0px !important;
    border-bottom-right-radius: 0px !important;
}